*.iml
.gradle
.gradleletasknamecache
.idea
.kotlin
build
/local.properties
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks
KEYSTORE_BASE64.txt
!gradle/wrapper/gradle-wrapper.jar
native/build/
*.log
*.tmp
